  .custom-node {
    background-color: #e4e9ef;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
  }

  .hide-node {
    background-color: #e4e9ef;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
  }

  .top-node {
    background-color: #051f3a;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    display: flex;
  }

  .info {
    width: 5px;
    border-radius: 60px;
    background-color: #051f3a;
    color: #ffffff;
  }

  .hide {
    border-radius: 0px;
    background-color: #051f3a;
    color: #ffffff;
    writing-mode: vertical-rl;
    /* Vertical writing mode, right to left */
    transform: rotate(180deg);
    /* Rotate the text to make it vertical */
    white-space: nowrap;
    /* Prevent text wrapping */
    width: 3em;
    /* Adjust the width to fit the vertical text */
  }

  .details-box {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    height: 80px;
    width: 250px;
    /*overflow-x: auto;*/
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100px;
    /* Adjust the max height as needed */

  }

  .details-box::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
  }

  /* Track */
  .details-box::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Color of the track */
    border-radius: 10px;
    /* Radius of the track */
  }

  /* Handle */
  .details-box::-webkit-scrollbar-thumb {
    background: #051f3a;
    /* Color of the handle */
    border-radius: 10px;
    /* Radius of the handle */
  }




  .text-updater-node {
    height: 70px;
    border: 1px solid #eee;
    padding: 5px;
    border-radius: 5px;
    background: white;
    overflow: auto;
  }

  .text-updater-node label {
    display: block;
    color: #777;
    font-size: 12px;
  }

  .download-image.react-flow {
    background: #1a365d;
  }

  .download-image .react-flow__node {
    width: 50px;
    height: 50px;
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: white;
  }

  .download-image .react-flow__node-custom {
    font-size: 12px;
    background: #eee;
    border: 1px solid #555;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
  }

  .download-image .react-flow__node-custom .react-flow__handle-right {
    transform: none;
  }

  .download-image .download-btn {
    border: 1px solid #eee;
    background: #ebf8ff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
  }

  .download-image .download-btn:hover {
    opacity: 0.9;
  }

  .copyButton {
    
    border-radius: 10px;
    background-color: #051f3a;
    color: #ffffff;
  }